<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <!-- 编码格式 -->
    <meta charset="utf-8" />

    <!-- 描述信息 -->
    <meta name="description" content="<%= productDescription %>" />

    <meta http-equiv="Content-Security-Policy" content="script-src 'self'" />
    <!--width - 可视区域的宽度，值可为数字或关键词device-width -->
    <!--height - viewport的高度-->
    <!--initial-scale - 初始的缩放比例-->
    <!--minimum-scale - 允许用户缩放到的最小比例-->
    <!--maximum-scale - 允许用户缩放到的最大比例-->
    <!--user-scalable - 用户是否可以手动缩放-->
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <!--content="telephone=yes" 在iphone 手机上默认值是(电话号码显示为拨号的超链接):-->
    <!--可将telephone=no，则手机号码不被显示为拨号链接-->
    <!-- 1-使设备浏览网页时对数字不启用电话功能(不同没备解释不同，toh点击数字为存入联系人，phone为拨打电话)，忽略将页面中的数字识别为电话号码。-->
    <meta name="format-detection" content="telephone=no" />

    <!-- 忽略识别邮箱 -->
    <meta name="format-detection" content="email=no" />

    <!--网站开启对 web app 程序的支持-->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!--在 web app 应用下状态条《屏幕顶部条》的颜色，(改变顶部状态条的颜色)-->
    <!--默认值为 default (白色)，可以定为 black (黑色)和 black-translucent (灰色半透明) ;-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!--http-equiv="Content-Type”表示描述文档类型-->
    <!--HTTP-EQUIV类似于HTTP的头部协议，它回应给浏览器一些有用的信息，以帮助正确和精确地显示网页内容-->
    <meta http-equiv="Content-Type" content="text/html" />

    <!-- UC认坚屏 ，UC强制全屏 -->
    <meta name="full-screen" content-="yes" />

    <!--使用了application这种应用模式后，页面讲默认全屏，禁止长按菜单，禁止收拾，标准排版，以及强制图片显示。-->
    <!--应用模式-->
    <meta name="browsermode" content="application" />

    <!-- UC强制坚屏 UC强制全屏 -->
    <!--设置屏幕方向-->
    <meta name="x5-orientation" content="portrait" />

    <!--设置全屏-->
    <meta name="x5-fullscreen" content="true" />

    <!--设置屏慕模式-->
    <meta name="x5-page-mode" content="app" />

    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no" />

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
  </head>
  <body _electron="ignore-mouse-events">
    <!-- quasar:entry-point -->
  </body>
</html>
